## Using RMSE to Evaluate Our Model

In [2]:
import pandas as pd
import numpy as np

In [3]:
proj_df = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
proj_df.head()

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
0,203932,1.994430,0.710601,5.126943,3.961834,1.402502,13.509175,5.956650,3.608475,2.800268,...,2.4,3.2,0.731,1.7,5.7,3.7,2.1,0.7,0.7,16.0
1,201143,3.247733,1.025916,4.582944,3.079483,1.127251,10.359166,4.860939,1.927194,1.470858,...,1.1,1.4,0.821,1.8,5.0,4.2,1.5,0.9,1.3,13.6
2,202329,1.754433,0.446132,4.286956,3.877699,1.407756,8.190519,3.574506,1.679742,1.238291,...,1.9,2.1,0.867,1.4,6.1,1.3,0.9,0.8,0.4,9.4
3,202692,1.525246,0.143212,1.894640,2.190524,0.692337,7.286938,3.014837,2.166992,1.667793,...,1.8,2.2,0.823,0.5,3.2,2.0,1.0,0.6,0.3,8.8
4,203518,0.988705,0.112903,1.361302,2.800757,1.065089,4.592593,1.876591,0.839953,0.668980,...,0.4,0.4,0.923,0.2,1.4,0.6,0.5,0.5,0.2,5.3

In [4]:
proj_df['squared_error'] = (proj_df['proj_pts'] - proj_df['pts'])**(2)

In [6]:
mse = proj_df['squared_error'].mean()

In [7]:
rmse = mse ** (1/2)

In [8]:
rmse

3.302971088916984

In [9]:
proj_df['squared_error'] = (proj_df['proj_ast'] - proj_df['ast'])**(2)

In [10]:
mse = proj_df['squared_error'].mean()

In [11]:
rmse = mse ** (1/2)

In [12]:
rmse

0.9944342105776937

In [13]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [14]:
player_proj = pd.read_csv('../nba-stats-csv/player_proj_df.csv')
player_info = pd.read_csv('../nba-stats-csv/player_info_df.csv')

In [15]:
player_proj.sample(5)

,player_id,proj_ast,proj_blk,proj_dreb,proj_fg3a,proj_fg3m,proj_fga,proj_fgm,proj_fta,proj_ftm,...,ftm,fta,ft_pct,oreb,dreb,ast,tov,stl,blk,pts
308,2585,0.792398,0.252155,2.250570,0.043625,0.000000,4.137357,1.887957,1.228401,0.920766,...,1.4,1.8,0.782,1.5,2.4,1.3,0.8,0.5,0.3,3.9
238,200765,6.686101,0.099848,2.496767,1.999166,0.726610,6.861120,2.998755,1.350304,1.104668,...,0.5,0.8,0.639,0.7,4.5,8.0,2.8,1.2,0.2,9.2
152,101181,2.657057,0.112619,1.395411,1.977008,0.735859,5.770650,2.437289,1.079956,0.869778,...,0.2,0.2,0.818,0.2,1.0,2.3,0.7,0.3,0.1,2.3
34,1627747,3.971527,0.271810,2.668321,2.583247,0.998851,9.585191,4.339518,2.502909,2.010412,...,2.1,3.1,0.691,0.9,2.9,3.9,1.7,1.1,0.4,13.7
217,201587,3.621160,0.279544,2.337298,2.970323,1.090306,9.064627,4.018336,2.133559,1.677568,...,1.0,1.2,0.865,0.9,4.3,3.3,1.6,0.9,0.6,9.3

In [17]:
df_real = player_proj.loc[:, ['pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','stl','tov', 'blk']]

In [18]:
df_proj = player_proj.loc[:, ['proj_pts','proj_min','proj_fgm','proj_fga','proj_fg3m','proj_fg3a','proj_ftm','proj_fta','proj_oreb','proj_dreb','proj_ast','proj_stl','proj_tov', 'proj_blk']]

In [19]:
df_real.sample(5)

,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
300,3.4,14.1,1.2,3.4,0.7,2.0,0.3,0.5,0.3,1.6,0.6,0.4,0.5,0.3
296,18.8,31.9,6.9,16.3,2.1,6.0,2.9,3.9,0.6,5.0,5.2,1.7,2.3,0.3
287,10.9,27.9,4.7,8.8,0.0,0.0,1.6,2.5,4.0,6.2,2.0,0.7,1.4,0.4
252,15.9,31.8,5.9,8.8,0.0,0.0,4.1,6.4,3.8,9.0,2.0,0.8,1.6,2.3
137,13.6,32.7,5.1,10.3,1.4,3.7,2.0,2.8,1.2,4.0,1.0,0.8,0.8,1.3

In [20]:
df_proj.sample(5)

,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk
51,7.831913,24.953759,2.853282,6.881987,1.378955,3.629155,0.804296,0.971309,0.645882,2.665626,1.447158,0.881199,0.914373,0.574099
198,6.891200,19.128396,2.504725,5.655321,0.688335,2.031097,1.229478,1.737841,0.855420,3.141110,1.565764,0.626820,1.056043,0.714710
147,18.237152,36.597579,6.565910,14.558023,1.103114,3.261834,4.032002,5.041408,0.644537,3.208473,8.805600,1.385298,3.088382,0.287374
301,11.870228,31.435763,4.273306,10.202065,1.804222,4.912339,1.523836,1.913502,0.530547,2.717261,2.453160,1.074502,1.231819,0.258031
184,8.713864,23.999004,3.561362,6.756822,0.078064,0.304577,1.488120,2.247801,2.085332,4.068207,1.103251,0.893851,0.963554,0.665914

In [22]:
se = mean_squared_error(df_real, df_proj)

In [23]:
mse = np.mean(se)

In [24]:
rmse = np.sqrt(mse)

In [25]:
confidence = rmse

In [26]:
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

98.03 percent confidence in projected 2018-19 per game stats

In [ ]:
se = mean_squared_error(df_real, df_proj)
mse = np.mean(se)
rmse = np.sqrt(mse)
confidence = rmse
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

In [27]:
df_real_stats = pd.concat([player_info, df_real], axis=1)

In [28]:
df_real_stats.sample(5)

,player_name,player_id,proj_season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
59,DeAndre Jordan,201599,2018-19,11.0,29.7,4.1,6.5,0.0,0.0,2.7,3.8,3.3,9.8,2.3,0.6,2.2,1.1
150,Jonathon Simmons,203613,2018-19,6.5,19.0,2.4,6.3,0.5,1.9,1.3,1.7,0.5,1.8,2.3,0.5,1.2,0.3
58,Davis Bertans,202722,2018-19,8.0,21.5,2.7,6.0,1.9,4.4,0.7,0.8,0.3,3.2,1.3,0.5,0.6,0.4
55,Dario Saric,203967,2018-19,10.6,25.0,3.8,8.6,1.5,4.0,1.6,1.9,1.6,4.1,1.6,0.6,1.2,0.1
242,Reggie Jackson,202704,2018-19,15.4,27.9,5.4,12.8,2.1,5.7,2.5,2.9,0.5,2.1,4.2,0.7,1.8,0.1

In [29]:
df_real_stats.rename(columns = 
                    {'proj_season_id' : 'season_id'}, inplace = True)

In [30]:
df_proj_stats = pd.concat([player_info, df_proj], axis=1)

In [31]:
df_proj_stats.rename(columns = {'proj_season_id':'season_id',
                               'proj_pts': 'pts',
                                'proj_min':'min',
                                'proj_fgm':'fgm',
                                'proj_fga':'fga',
                                'proj_fg3m':'fg3m',
                                'proj_fg3a':'fg3a',
                                'proj_ftm':'ftm',
                                'proj_fta':'fta',
                                'proj_oreb':'oreb',
                                'proj_dreb':'dreb',
                                'proj_ast':'ast',
                                'proj_stl':'stl',
                                'proj_tov':'tov',
                               'proj_blk':'blk'}, inplace = True)

In [32]:
display(df_real_stats.head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.0,33.8,6.0,13.4,1.6,4.4,2.4,3.2,1.7,5.7,3.7,0.7,2.1,0.7
1,Al Horford,201143,2018-19,13.6,29.0,5.7,10.6,1.1,3.0,1.1,1.4,1.8,5.0,4.2,0.9,1.5,1.3
2,Al-Farouq Aminu,202329,2018-19,9.4,28.3,3.2,7.3,1.2,3.5,1.9,2.1,1.4,6.1,1.3,0.8,0.9,0.4
3,Alec Burks,202692,2018-19,8.8,21.5,3.0,7.4,1.0,2.6,1.8,2.2,0.5,3.2,2.0,0.6,1.0,0.3
4,Alex Abrines,203518,2018-19,5.3,19.0,1.8,5.1,1.3,4.1,0.4,0.4,0.2,1.4,0.6,0.5,0.5,0.2

In [35]:
display(round(df_proj_stats,1).head(5))

,player_name,player_id,season_id,pts,min,fgm,fga,fg3m,fg3a,ftm,fta,oreb,dreb,ast,stl,tov,blk
0,Aaron Gordon,203932,2018-19,16.1,33.9,6.0,13.5,1.4,4.0,2.8,3.6,1.6,5.1,2.0,0.9,1.6,0.7
1,Al Horford,201143,2018-19,12.3,30.2,4.9,10.4,1.1,3.1,1.5,1.9,1.2,4.6,3.2,0.7,1.6,1.0
2,Al-Farouq Aminu,202329,2018-19,9.8,28.0,3.6,8.2,1.4,3.9,1.2,1.7,1.1,4.3,1.8,0.9,1.1,0.4
3,Alec Burks,202692,2018-19,8.3,20.8,3.0,7.3,0.7,2.2,1.7,2.2,0.5,1.9,1.5,0.5,1.0,0.1
4,Alex Abrines,203518,2018-19,5.5,17.0,1.9,4.6,1.1,2.8,0.7,0.8,0.4,1.4,1.0,0.5,0.6,0.1

## Comparing to Competitors

In [36]:
player_proj = pd.read_csv('../nba-stats-csv/player_proj_df.csv')

In [37]:
columns = ['player_name',
           'player_id',
           'proj_pts',
           'proj_min',
           'proj_fgm',
           'proj_fga',
           'proj_fg3m',
           'proj_fg3a',
           'proj_ftm',
           'proj_fta',
           'proj_oreb',
           'proj_dreb',
           'proj_ast',
           'proj_stl',
           'proj_tov',
           'proj_blk']

In [38]:
df_proj_final = player_proj.loc[:, columns]

In [39]:
df_proj_final['proj_fg%'] = df_proj_final['proj_fgm'] / df_proj_final['proj_fga']
df_proj_final['proj_ft%'] = df_proj_final['proj_ftm'] / df_proj_final['proj_fta']

In [40]:
df_proj_final['proj_reb'] = df_proj_final['proj_oreb'] + df_proj_final['proj_dreb']

In [41]:
df_proj_final.tail(5)

,player_name,player_id,proj_pts,proj_min,proj_fgm,proj_fga,proj_fg3m,proj_fg3a,proj_ftm,proj_fta,proj_oreb,proj_dreb,proj_ast,proj_stl,proj_tov,proj_blk,proj_fg%,proj_ft%,proj_reb
304,Willy Hernangomez,1626195,5.985580,14.722780,2.275293,4.337004,0.000000,0.010538,1.446116,2.060977,1.464926,2.655802,0.597824,0.377686,0.857811,0.573993,0.524623,0.701665,4.120729
305,Wilson Chandler,201163,11.462810,29.167829,4.295812,9.523489,1.059051,2.947022,1.848857,2.281238,1.176468,3.809336,1.590666,0.800370,1.146916,0.448807,0.451075,0.810462,4.985804
306,Yogi Ferrell,1627812,9.277499,25.591605,3.343853,8.342588,1.556202,4.190836,1.004185,1.387576,0.395357,2.427785,2.065109,0.712795,0.921862,0.291648,0.400817,0.723698,2.823142
307,Zach LaVine,203897,13.019930,28.166167,4.747361,11.186628,1.341064,3.823189,2.147932,2.637023,0.515644,2.460736,2.437654,0.814816,1.421057,0.273753,0.424378,0.814529,2.976380
308,Zaza Pachulia,2585,4.708466,15.200837,1.887957,4.137357,0.000000,0.043625,0.920766,1.228401,1.132377,2.250570,0.792398,0.438271,0.799345,0.252155,0.456320,0.749565,3.382947

In [42]:
final_columns = [
    'player_name',
           'player_id',
           'proj_pts',
           'proj_reb',
           'proj_ast',
           'proj_blk',
           'proj_stl',
           'proj_fg%',
           'proj_ft%',
           'proj_fg3m',
           'proj_min',
           'proj_tov'
]

In [43]:
df_proj_final = df_proj_final[final_columns]

In [44]:
df_competitor = pd.read_csv('../nba-stats-csv/ESPN_CBS_FantasyPros_Fantasy_Basketball_Overall_2018_Average_Projections.csv')

In [46]:
df_competitor.sample(5)

,Player,Team,Positions,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,GP,MIN,TO
188,Dwyane Wade,MIA,"PG,SG",8.5,2.6,2.3,0.5,0.7,0.440,0.748,0.4,70.0,22.6,1.5
148,Bobby Portis,WAS,"PF,C",10.2,5.7,1.3,0.2,0.5,0.472,0.750,0.9,78.0,22.5,1.1
246,Isaiah Canaan,MIN,PG,6.6,1.2,3.2,0.0,0.6,0.372,0.871,0.7,42.0,15.7,1.1
151,Marco Belinelli,SAS,"SG,SF",10.1,2.2,1.7,0.2,0.9,0.433,0.890,0.9,77.0,20.9,1.1
201,Michael Beasley,LAL,"SF,PF",8.0,2.7,0.9,0.3,0.3,0.489,0.781,0.7,79.0,19.8,0.8

In [48]:
columns_to_drop = [
    'Team',
    'Positions',
    'GP'
]

In [49]:
df_competitor.drop(columns = columns_to_drop, inplace = True)

In [50]:
df_competitor.sample(5)

                Player   PTS  REB  AST  BLK  STL    FG%    FT%  3PM   MIN   TO
55      Reggie Jackson  16.0  2.8  5.6  0.1  0.7  0.426  0.852  1.4  31.7  2.5
318          Ian Clark   4.7  1.1  0.9  0.1  0.3  0.450  0.782  0.5  14.1  0.6
69        De'Aaron Fox  14.8  3.2  5.9  0.3  1.2  0.417  0.734  1.0  33.6  2.9
407  Jarred Vanderbilt   0.1  0.0  0.0  0.0  0.0  0.164  0.000  0.0   0.0  0.0
124      D.J. Augustin  11.5  2.3  4.5  0.0  0.7  0.428  0.851  1.8  31.7  1.8

In [51]:
lowercase_names = df_competitor['Player'].str.lower()

In [52]:
df_competitor['Player'] = lowercase_names

In [53]:
df_competitor.sample(5)

              Player   PTS   REB  AST  BLK  STL    FG%    FT%  3PM   MIN   TO
378     reggie hearn   0.6   0.1  0.2  0.0  0.0  0.500  0.747  0.1   0.0  0.1
0      anthony davis  29.6  11.6  2.3  2.5  1.7  0.530  0.814  0.7  37.6  2.3
418   ding yanyuhang   0.0   0.0  0.0  0.0  0.0  0.421  0.750  0.0   0.0  0.0
139  malcolm brogdon  10.6   3.0  3.7  0.2  1.1  0.470  0.869  1.1  27.0  1.4
259  james ennis iii   6.3   3.1  0.8  0.2  0.7  0.461  0.817  0.8  14.1  0.7

In [54]:
player_info = pd.read_csv('../nba-stats-csv/player_info_df.csv')

In [55]:
season = player_info['proj_season_id'] == '2018-19'

In [56]:
player_df = player_info[season]

In [57]:
lowercase = player_df['player_name'].str.lower()

In [58]:
player_df['player_name'] = lowercase

In [59]:
player_df.sample(5)

             player_name  player_id proj_season_id
293         tyreke evans     201936        2018-19
7           allen crabbe     203459        2018-19
86         elfrid payton     203901        2018-19
159      justise winslow    1626159        2018-19
201  matthew dellavedova     203521        2018-19

In [60]:
comp_merged = pd.merge(df_competitor,
        player_df[['player_name', 'player_id']],
        how='left',
        left_on = 'Player',
        right_on = 'player_name').drop_duplicates().reset_index(drop=True)

In [61]:
comp_merged.dropna(how = 'any', inplace = True)

In [62]:
comp_merged.sample(5)

,Player,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO,player_name,player_id
268,shelvin mack,6.0,1.9,2.7,0.1,0.7,0.425,0.710,0.6,20.7,1.3,shelvin mack,202714.0
21,john wall,21.2,4.1,10.3,0.8,1.7,0.441,0.779,1.3,35.5,3.9,john wall,202322.0
177,robin lopez,8.9,5.0,1.2,1.0,0.2,0.512,0.755,0.1,22.1,1.3,robin lopez,201577.0
274,amir johnson,5.9,4.5,1.5,0.8,0.6,0.562,0.652,0.3,19.2,0.9,amir johnson,101161.0
170,trevor ariza,9.1,4.2,1.9,0.2,1.3,0.406,0.794,1.7,25.6,0.8,trevor ariza,2772.0

In [63]:
comp_merged.dtypes

Player          object
PTS            float64
REB            float64
AST            float64
BLK            float64
STL            float64
FG%            float64
FT%            float64
3PM            float64
MIN            float64
TO             float64
player_name     object
player_id      float64
dtype: object

In [64]:
player_ids = comp_merged['player_id'].astype(int)

In [65]:
comp_merged['player_id'] = player_ids

In [66]:
comp_merged.dtypes

Player          object
PTS            float64
REB            float64
AST            float64
BLK            float64
STL            float64
FG%            float64
FT%            float64
3PM            float64
MIN            float64
TO             float64
player_name     object
player_id        int64
dtype: object

In [67]:
del comp_merged['Player']

In [68]:
cols = [
    'player_name',
    'player_id',
    'PTS',
    'REB',
    'AST',
    'BLK',
    'STL',
    'FG%',
    'FT%',
    '3PM',
    'MIN',
    'TO']

In [69]:
comp_merged = comp_merged[cols]

In [70]:
comp_merged.sample(5)

,player_name,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,MIN,TO
139,malcolm brogdon,1627763,10.6,3.0,3.7,0.2,1.1,0.470,0.869,1.1,27.0,1.4
236,kyle anderson,203937,6.9,4.8,2.2,0.7,1.2,0.489,0.733,0.4,26.6,1.7
323,quinn cook,1626188,4.5,1.1,1.1,0.0,0.2,0.500,0.807,0.7,0.0,0.5
47,d'angelo russell,1626156,16.7,4.2,5.2,0.3,1.0,0.411,0.760,2.2,31.1,3.2
75,dwight howard,2730,14.3,11.9,1.3,1.4,0.8,0.590,0.555,0.0,30.4,2.3

In [71]:
df_real = player_proj.loc[:,['player_name', 'player_id', 'pts','min','fgm','fga','fg3m','fg3a','ftm','fta','oreb','dreb','ast','stl','tov', 'blk']]

In [72]:
df_real['fg%'] = df_real['fgm']  / df_real['fga']
df_real['ft%'] = df_real['ftm'] / df_real['fta']
df_real['reb'] = df_real['oreb'] + df_real['dreb']

In [73]:
final_real_columns = [
    'player_name',
           'player_id',
           'pts',
           'reb',
           'ast',
           'blk',
           'stl',
           'fg%',
           'ft%',
           'fg3m',
           'min',
           'tov'
]

In [74]:
df_real_final = df_real[final_real_columns]

In [75]:
df_real_final.head(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5

In [76]:
competitor_final = pd.merge(comp_merged, df_real_final, how = 'left', on = 'player_id')

In [77]:
competitor_final.sample(5)

,player_name_x,player_id,PTS,REB,AST,BLK,STL,FG%,FT%,3PM,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
254,tyus jones,1626145,3.6,1.2,2.1,0.1,0.8,0.453,0.852,0.4,...,6.9,1.9,4.8,0.1,1.2,0.409091,0.900000,0.6,22.9,0.7
157,cody zeller,203469,8.3,5.6,1.3,0.8,0.7,0.560,0.698,0.1,...,10.1,6.8,2.1,0.8,0.8,0.557143,0.793103,0.1,25.4,1.3
59,will barton,203115,14.7,5.0,3.7,0.6,1.0,0.449,0.790,1.8,...,11.5,4.6,2.9,0.5,0.4,0.401869,0.764706,1.6,27.7,1.5
248,dorian finney-smith,1627827,4.3,2.7,0.9,0.3,0.6,0.387,0.750,0.7,...,7.5,4.8,1.2,0.4,0.9,0.430769,0.692308,1.0,24.5,0.9
167,dewayne dedmon,203473,7.9,7.3,1.0,0.7,0.6,0.547,0.728,0.4,...,10.8,7.5,1.4,1.1,1.1,0.487805,0.777778,1.3,25.1,1.3

In [78]:
competitor_proj = competitor_final.dropna(how = 'any')

In [79]:
df_real = competitor_proj.loc[:, ['pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]
df_proj = competitor_proj.loc[:, ['PTS','REB','AST','BLK','STL','FG%','FT%','3PM','MIN','TO']]

In [80]:
# calculate mean square error
from sklearn.metrics import mean_squared_error
lin_mse = mean_squared_error(df_real, df_proj)
lin_rmse = np.mean(lin_mse)
confidence = np.sqrt(lin_rmse)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.4 percent confidence in projected 2018-19 per game stats

In [81]:
df_proj_final.sample(5)

,player_name,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,proj_min,proj_tov
88,Enes Kanter,202683,11.481486,8.009579,1.135110,0.564866,0.607320,0.504121,0.672471,0.000000,26.885796,1.479731
271,Terrence Ross,203082,9.003578,3.182723,1.848866,0.430146,0.911584,0.412703,0.764449,1.471253,27.961579,1.048750
147,John Wall,202322,18.237152,3.853010,8.805600,0.287374,1.385298,0.451017,0.799777,1.103114,36.597579,3.088382
269,Taj Gibson,201959,9.399946,6.925308,1.522945,0.918965,0.826120,0.479062,0.668715,0.038204,28.983806,1.194934
195,Marcus Smart,203935,9.336936,2.473652,4.067816,0.221727,1.148081,0.418050,0.774806,0.844007,25.386817,1.740420

In [82]:
df_real_final.sample(5)

,player_name,player_id,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
76,Domantas Sabonis,1627734,14.1,9.3,2.9,0.4,0.6,0.589474,0.717949,0.1,24.8,2.2
267,T.J. McConnell,204456,6.4,2.3,3.4,0.2,1.0,0.527273,0.800000,0.2,19.3,1.2
95,Fred VanVleet,1627832,11.0,2.6,4.8,0.3,0.9,0.404255,0.833333,1.8,27.5,1.3
291,Tyler Ulis,1627755,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.8,0.0
58,Davis Bertans,202722,8.0,3.5,1.3,0.4,0.5,0.450000,0.875000,1.9,21.5,0.6

In [83]:
model_final = pd.merge(df_proj_final, df_real_final, how = 'left', on = 'player_id')

In [84]:
model_final.head(5)

,player_name_x,player_id,proj_pts,proj_reb,proj_ast,proj_blk,proj_stl,proj_fg%,proj_ft%,proj_fg3m,...,pts,reb,ast,blk,stl,fg%,ft%,fg3m,min,tov
0,Aaron Gordon,203932,16.063873,6.748596,1.994430,0.710601,0.909579,0.440934,0.776026,1.402502,...,16.0,7.4,3.7,0.7,0.7,0.447761,0.750000,1.6,33.8,2.1
1,Al Horford,201143,12.340232,5.801251,3.247733,1.025916,0.652499,0.469240,0.763213,1.127251,...,13.6,6.8,4.2,1.3,0.9,0.537736,0.785714,1.1,29.0,1.5
2,Al-Farouq Aminu,202329,9.784116,5.388717,1.754433,0.446132,0.946406,0.436420,0.737191,1.407756,...,9.4,7.5,1.3,0.4,0.8,0.438356,0.904762,1.2,28.3,0.9
3,Alec Burks,202692,8.349126,2.417396,1.525246,0.143212,0.541122,0.413732,0.769635,0.692337,...,8.8,3.7,2.0,0.3,0.6,0.405405,0.818182,1.0,21.5,1.0
4,Alex Abrines,203518,5.502404,1.731801,0.988705,0.112903,0.481071,0.408612,0.796450,1.065089,...,5.3,1.6,0.6,0.2,0.5,0.352941,1.000000,1.3,19.0,0.5

In [85]:
df_real = model_final.loc[:, ['pts','reb','ast','blk','stl','fg%','ft%','fg3m','min','tov']]

In [86]:
df_proj = model_final.loc[:, ['proj_pts','proj_reb','proj_ast','proj_blk','proj_stl','proj_fg%','proj_ft%','proj_fg3m','proj_min','proj_tov']]

In [87]:
df_real.fillna(0, inplace=True)
df_proj.fillna(0, inplace=True)

In [88]:
# calculate mean square error
lin_mse = mean_squared_error(df_real, df_proj)
lin_rmse = np.mean(lin_mse)
confidence = np.sqrt(lin_rmse)
print('{0} percent confidence in projected {1} per game stats'.format(100 - round(confidence, 2), '2018-19'))

97.88 percent confidence in projected 2018-19 per game stats

# Modifying Variables

In [ ]:
def player_comparison_tool(df, current_player_season, current_player_id):
    if (((df['season_id'] == current_player_season) & (df['player_id'] == current_player_id)).any() == False):
        print('Can\'t find player with id {0} and season {1}'.format(current_player_id, current_player_season))
        return
    # might need to return None if so
    for row in df.itertuples():
        if current_player_season == row.season_id and current_player_id == row.player_id:
            current_player_id = row.player_id
            break

    current_player_vector = np.array([
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'pts_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'min_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fgm_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fga_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fg3m_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fg3a_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'ftm_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'fta_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'oreb_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'dreb_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'ast_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'stl_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'tov_norm']).item(),
        (df.loc[(df['player_id'] == current_player_id) & (df['season_id'] == current_player_season), 'blk_norm']).item()
    ])

    print('Projecting player_id {0} for season {1}'.format(current_player_id, season_list[(season_list.index(row.season_id) + 1)]))
    
    # create a list to store the data
    player_distance = []

    # loop over every row in the dataframe to calculate percent error
    weighted_numbers = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
    for row in df.itertuples():
        compared_player_vector = np.array([
        row.pts_norm,
        row.min_norm,
        row.fgm_norm,
        row.fga_norm,
        row.fg3m_norm,
        row.fg3a_norm,
        row.ftm_norm,
        row.fta_norm,
        row.oreb_norm,
        row.dreb_norm,
        row.ast_norm,
        row.stl_norm,
        row.tov_norm,
        row.blk_norm
        ])
        
        vfunc = np.vectorize(calc_distance)
        distance_vect = vfunc(current_player_vector, compared_player_vector)
        weighted_distance = distance_vect * weighted_numbers
        number = np.sum(weighted_distance)
        player_distance.append(number)
        
    # create a new column with error 
    df['distance'] = player_distance

    # sort dataframe by smallest distance
    ranked_df = df.sort_values('distance')
    
    stats = ['pts',
             'min',
             'fgm',
             'fga',
             'fg3m',
             'fg3a',
             'ftm',
             'fta',
             'oreb',
             'dreb',
             'ast',
             'stl',
             'tov',
             'blk'
             ]
    
    # create empty dictionary to put in projected stats
    projected_stats = {}

    for col in stats:
        sum_stat = 0
        sum_weight = 0
        for index, row in ranked_df.iloc[1:11].iterrows():
            # skip over the row if it was 2017-18 season because we can't take the next
            if row.season_id == '2017-18':
                continue
            # get the players next season
            weight = (1 / row.distance)
            next_season = season_list[(season_list.index(row.season_id) + 1)]
            # find the player row with the id and the next season
            player_next_season = find_player(ranked_df, row.player_id, next_season)
            # if player_next_season doesn't exist then skip
            if player_next_season == None:
                continue
            sum_stat += getattr(player_next_season, col) * weight
            sum_weight += weight
        projected_stats['player_id'] = current_player_id
        projected_stats['proj_season_id'] = season_list[(season_list.index(current_player_season) + 1)]
        projected_stats['proj_' + col] = (sum_stat / sum_weight)
    return projected_stats

In [ ]:
# read in per game data from csv folder
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', header = 0)