### Importing Pandas

In [ ]:
import pandas as pd

### Creating a Dataframe

In [ ]:
df = pd.DataFrame()

In [ ]:
print(df)

In [ ]:
lakers_dict = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'], 
        'ppg': [27.4, 18.7, 9.9, 18.3, 7.8], 
        'apg': [8.3, 2.5, 5.4, 3.0, 1.4],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.7]}

In [ ]:
df = pd.DataFrame(lakers_dict)

In [ ]:
print(df)

In [ ]:
df = pd.DataFrame(lakers_dict, index=[1,2,3,4,5])

In [ ]:
print(df)

In [ ]:
df = pd.DataFrame(lakers_dict, index=['playmaker', 'pf', 'pg', 'sf', 'sg'])

In [ ]:
print(df)

In [ ]:
stats = [['Lebron', 4, 6], ['Kuzma', 2, 3], ['Ball', 4, 4]]

In [ ]:
stats_df = pd.DataFrame(stats, columns = ['player', 'oreb', 'dreb'])

In [ ]:
print(stats_df)

In [ ]:
rebs = [6, 9, 11, 7, 3]

In [ ]:
series = pd.DataFrame(rebs, columns=['lebron_reb'])

In [ ]:
print(series)

## Attributes & Methods

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [ ]:
.method()
.attribute

In [ ]:
df.shape

In [ ]:
df.dtypes

## Head, Tail & Sample Methods

In [ ]:
df_5_row = df.head()

In [ ]:
print(df_5_row)

In [ ]:
df.tail()

In [ ]:
df.head(10)

In [ ]:
df.tail(7)

In [ ]:
df.sample(12)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.sum()

In [ ]:
df.mean()

In [ ]:
df.corr()

In [ ]:
df.count()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.median()

In [ ]:
df.std()

## Reading CSV Files in Dataframes

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_info.csv')

In [ ]:
df.head(10)

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_info_no_header.csv', header=None)

In [ ]:
df.head(5)

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_info.csv', index_col='player_id')

In [ ]:
df.head(5)

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv', usecols=['player_id', 'season_id'])

In [ ]:
df.head(5)

## Dataframe Columns

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [ ]:
df_slim = df.sample(20)

In [ ]:
list(df_slim)

In [ ]:
df_slim.player_name

In [ ]:
df_slim['pts']

In [ ]:
type(df_slim['pts'])

In [ ]:
df_slim[['player_name', 'pts']]

In [ ]:
df_slim[['pts', 'player_name']]

In [ ]:
list_of_columns = ['player_name', 'ftm', 'fta']

In [ ]:
df_slim[list_of_columns]

In [ ]:
list(df_slim)

In [ ]:
df_slim.iloc[:, 0]

In [ ]:
df_slim.iloc[:, 1]

In [ ]:
df_slim.iloc[:,-1]

In [ ]:
df_slim.iloc[:, 0:3]

In [ ]:
df_slim.iloc[:, [1,4,6]]

## Adding & Deleting Columns

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [ ]:
df_slim = df.sample(20)

In [ ]:
df_slim

In [ ]:
df_slim['ppg'] = 0

In [ ]:
df_slim

In [ ]:
df_slim['ppg'] = round((df_slim['pts'] / df_slim['gp']), 1)

In [ ]:
df_slim

In [ ]:
df_slim.insert(3, column = 'league', value = 'NBA')

In [ ]:
df_slim

In [ ]:
del df_slim['ppg']

In [ ]:
df_slim

In [ ]:
df = df_slim.drop('league', axis=1)

In [ ]:
df

In [ ]:
# new_df = old_df[['col1', 'col2', 'col3']]

In [ ]:
reb_df = df_slim[['player_name', 'oreb', 'dreb']]

In [ ]:
reb_df

## Renaming Columns

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [ ]:
df = df[['player_name', 'gp', 'min']]

In [ ]:
df_slim = df.sample(10)

In [ ]:
df_slim.columns = ['player_name', 'games_played', 'minutes']

In [ ]:
df_slim

In [ ]:
new_column_names = ['player', 'games_p', 'minutos']

In [ ]:
df_slim.columns = new_column_names

In [ ]:
df_slim

In [ ]:
df_new = df_slim.rename(columns={
    'games_p': 'games_played',
    'minutos': 'minutes'
})

In [ ]:
df_new

## Selecting Rows

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [ ]:
df_slim = df.sample(20)

In [ ]:
df_slim

In [ ]:
df_slim.iloc[8]

In [ ]:
df_print = df_slim.iloc[1:11]

In [ ]:
df_print

In [ ]:
lakers_dict = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart'], 
        'ppg': [27.4, 18.7, 9.9, 18.3, 7.8], 
        'apg': [8.3, 2.5, 5.4, 3.0, 1.4],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.7]}

In [ ]:
df = pd.DataFrame(lakers_dict, index=['playmaker', 'pf', 'pg', 'sf', 'sg'])

In [ ]:
df

In [ ]:
df.loc['sf']

In [ ]:
df.loc[['pf', 'pg']]

In [ ]:
df.ix[2, 'last_name']

## Adding and Dropping Rows

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
raw_data = {'player_name': ['Lebron James', 'Lonzo Ball', 'Kyle Kuzma', np.nan, 'Josh Hart'], 
            'team': ['LAL', 'LAL', 'LAL', np.nan, 'LAL'], 
            'gp': [55, 47, 70, np.nan, np.nan],
            'blocks': [33, 19, np.nan, np.nan, 40]}

In [ ]:
laker_df = pd.DataFrame(raw_data, columns = ['player_name', 'team', 'gp', 'blocks'])

In [ ]:
laker_df

In [ ]:
clean_df1 = laker_df.dropna(axis=0, how='any')

In [ ]:
clean_df1

In [ ]:
clean_df2 = laker_df.dropna(axis=0, how='all')

In [ ]:
clean_df2

In [ ]:
clean_df3 = laker_df.dropna(subset = ['gp'])

In [ ]:
clean_df3

In [ ]:
updated_df1 = laker_df.fillna(0)

In [ ]:
updated_df1

In [ ]:
df1 = pd.DataFrame([['Lebron James', '2014-15', 25.3], ['Lebron James', '2015-16', 25.3]]
                  , columns = ['player','season','ppg'])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame([['Lebron James', '2016-17', 26.4]], columns = ['player','season','ppg'])

In [ ]:
df2

In [ ]:
df_new = df1.append(df2)

In [ ]:
df_new

## Inplace Parameter

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [ ]:
df_slim = df.sample(20)

In [ ]:
df_slim

In [ ]:
df_slim.sort_values('gp')

In [ ]:
df_slim

In [ ]:
df_slim.sort_values('gp', inplace = True)

In [ ]:
df_slim

In [ ]:
df_slim.sort_values('pts', inplace = False)

In [ ]:
df_slim

In [ ]:
df_sorted_pts = df_slim.sort_values('pts', inplace = False)

In [ ]:
df_sorted_pts

## Sorting Dataframes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
laker_stats = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Lance', 'Josh', 'Michael', 'Tyson'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram','Stephenson', 'Hart', 'Beasley', 'Chander'], 
        'ppg': [27.4, 18.7, 9.9, 18.3, 7.2, 7.8, 7.0, 3.1], 
        'apg': [8.3, 2.5, 5.4, 3.0, 2.1, 1.4, 1.0, 0.6],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.2, 3.7, 2.3, 5.6]}

In [ ]:
unsorted_df = pd.DataFrame(laker_stats, index=[1,4,6,2,3,5,0,7])

In [ ]:
unsorted_df

In [ ]:
sorted_df = unsorted_df.sort_index()

In [ ]:
sorted_df

In [ ]:
sorted_points_df = sorted_df.sort_values('ppg')

In [ ]:
sorted_points_df

In [ ]:
sorted_points_df = sorted_df.sort_values('ppg', ascending = False)

In [ ]:
sorted_points_df

In [ ]:
laker_stats = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Lance', 'Josh', 'Michael', 'Tyson'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram','Stephenson', 'Hart', 'Beasley', 'Chander'], 
        'ppg': [27.4, 18.7, np.nan, 18.3, np.nan, 7.8, 7.0, 3.1], 
        'apg': [8.3, 2.5, 5.4, 3.0, 2.1, 1.4, 1.0, 0.6],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.2, 3.7, 2.3, 5.6]}

In [ ]:
df_missing = pd.DataFrame(laker_stats)

In [ ]:
sort_by_points = df_missing.sort_values('ppg', ascending = False, na_position='first')

In [ ]:
sort_by_points

In [ ]:
laker_stats = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Lance', 'Josh', 'Michael', 'Tyson'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram','Stephenson', 'Hart', 'Beasley', 'Chander'], 
        'ppg': [27.4, 18.7, 9.9, 18.7, 7.2, 7.8, 7.0, 3.1], 
        'apg': [8.3, 2.5, 5.4, 3.0, 2.1, 1.4, 1.0, 0.6],
        'rpg': [8.5, 5.5, 5.3, 5.1, 3.2, 3.7, 2.3, 5.6]}

In [ ]:
df = pd.DataFrame(laker_stats)

In [ ]:
sort_by_two_cols = df.sort_values(['ppg', 'apg'], ascending = False)

In [ ]:
sort_by_two_cols

## Filtering Dataframes

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../nba-stats-csv/nba_season_stats.csv')

In [ ]:
df.sample(5)

In [ ]:
df['Tm'] == 'OKC'

In [ ]:
okc_df = df[df['Tm'] == 'OKC']

In [ ]:
okc_df

In [ ]:
okc = (df['Tm'] == 'OKC')

In [ ]:
df[okc]

In [ ]:
dual_df = df[(df['Tm'] == 'OKC') | (df['Tm'] == 'LAL')]

In [ ]:
dual_df

In [ ]:
okc = (df['Tm'] == 'OKC')

In [ ]:
lal = (df['Tm'] == 'LAL')

In [ ]:
df[okc | lal]

In [ ]:
df[(df['Tm'] == 'OKC') & (df['GS'] > 10)]

In [ ]:
okc = (df['Tm'] == 'OKC')

In [ ]:
gs = df['GS'] > 10

In [ ]:
and_df = df[okc & gs]

In [ ]:
and_df

In [ ]:
fg_50 = (df['FG%'] > .50)

In [ ]:
three_point_40 = (df['3P%'] > .40)

In [ ]:
ft_90 = (df['FT%'] > .9)

In [ ]:
shooters_df = df[fg_50 & three_point_40 & ft_90]

In [ ]:
shooters_df

In [ ]:
okc = (df['Tm'] == 'OKC')

In [ ]:
lal = (df['Tm'] == 'LAL')

In [ ]:
gs = df['GS'] > 10

In [ ]:
df[(okc | lal) & gs]

In [ ]:
.isin()

In [ ]:
df[df['Tm'].isin(['OKC', 'LAL', 'CHI'])]

In [ ]:
python_list = ['OKC', 'LAL', 'CHI']

In [ ]:
df[df['Tm'].isin(python_list)]

## Groupby

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [ ]:
type(df.groupby('season_id'))

In [ ]:
type(df)

In [ ]:
df2 = pd.read_csv('../nba-stats-csv/nba_season_stats.csv')

In [ ]:
grouped = df2.groupby('Tm')

In [ ]:
grouped['Age'].mean().sort_values(ascending = False)

In [ ]:
lakers = grouped.get_group('LAL')

In [ ]:
lakers

In [ ]:
seasons = df.groupby('season_id')

In [ ]:
seasons['pts'].sum()

In [ ]:
seasons['pts', 'ast'].sum()

In [ ]:
type(seasons)

In [ ]:
# split
seasons = df.groupby('season_id')

In [ ]:
# Apply
seasons['fg3m'].describe()

In [ ]:
# Combine
df_3p_by_season = seasons['fg3m'].sum()
df_3p_by_season.sort_values()

In [ ]:
seasons.agg({
    'pts': 'sum',
    'ast': 'mean'
})

## Merging

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')

In [ ]:
list(df)

In [ ]:
columns = [
    'player_id',
    'season_id',
    'gp',
    'age',
    'fg_pct',
    'pts'
]

In [ ]:
df_new = df[columns]

## Concatenate & Append

In [ ]:
import pandas as pd

In [ ]:
df_A = df_new.sample(10)
df_B = df_new.sample(10)

In [ ]:
df_A

In [ ]:
df_B

In [ ]:
pd.concat([df_A, df_B])

In [ ]:
raw_data = {
        'player_id': ['1', '2', '3', '4', '5'],
        'ppg': [24.3, 28.3, 21.2, 17.2, 11.4],
        'fg%': [.57, .43, .38, .39, .54]}

In [ ]:
df_1 = pd.DataFrame(raw_data, columns = ['player_id', 'ppg', 'fg%'])

In [ ]:
raw_data = {
        'player_id': ['6', '7', '8', '9', '10'],
        'ppg': [14.3, 22.3, 11.6, 10.9, 11.7],
        'fg%': [.52, .53, .48, .39, .49]}

In [ ]:
df_2 = pd.DataFrame(raw_data, columns = ['player_id', 'ppg', 'fg%'])

In [ ]:
df_new = pd.concat([df_1, df_2])

In [ ]:
df_new

In [ ]:
df_new.reset_index(drop=True)

In [ ]:
df_new = pd.concat([df_1, df_2], ignore_index=True)

In [ ]:
df_new

In [ ]:
df_1.append(df_2)

In [ ]:
df_2.append(df_1)

In [ ]:
df_new = df_2.append(df_1)
df_new.reset_index(drop=True)

## Merging & Joining

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('../nba-stats-csv/player_general_traditional_per_game_data.csv')
df2 = pd.read_csv('../nba-stats-csv/player_id_player_name.csv')

In [ ]:
df1.head(5)

In [ ]:
df2.tail(5)

In [ ]:
merged_df = pd.merge(df1, df2, on='player_id')

In [ ]:
merged_df.sample(10)

In [ ]:
merged_df2 = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on='player_id')
merged_df2.sample(10)

In [ ]:
merged_df3 = pd.merge(df2, df1[['player_id', 'season_id', 'ast', 'stl', 'pts']], on='player_id', how='inner')
merged_df3.sample(10)

In [ ]:
raw_data = {
        'player_id': ['1', '2', '3', '4', '5', '6', '7'],
        'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'], 
        'last_name': ['James', 'Nowitzki', 'Carter', 'Kaner', 'Van Fleet', 'Rose', 'George']}

In [ ]:
df_A = pd.DataFrame(raw_data, columns = ['player_id', 'first_name', 'last_name'])

In [ ]:
raw_data = {
        'player_id': ['1', '2', '3', '4', '5'],
        'career_ppg': [27.2, 20.7, 17.2, 11.9, 18.8]}

In [ ]:
df_B = pd.DataFrame(raw_data, columns = ['player_id', 'career_ppg'])

In [ ]:
left_merge = pd.merge(df_A, df_B, on='player_id', how='left')

In [ ]:
left_merge

In [ ]:
right_merge = pd.merge(df_A, df_B, on='player_id', how='right')

In [ ]:
right_merge

In [ ]:
outer_merge = pd.merge(df_A, df_B, on='player_id', how='outer')

In [ ]:
outer_merge

In [ ]:
raw_data = {
        'id': ['1', '2', '3', '4', '5', '6', '7'],
        'first_name': ['Lebron', 'Dirk', 'Vince', 'Enes', 'Fred', 'Derrick', 'Paul'], 
        'last_name': ['James', 'Nowitzki', 'Carter', 'Kaner', 'Van Fleet', 'Rose', 'George']}

In [ ]:
df_1 = pd.DataFrame(raw_data, columns = ['id', 'first_name', 'last_name'])

In [ ]:
raw_data = {
        'player_id': ['1', '2', '3', '4', '5'],
        'career_ppg': [27.2, 20.7, 17.2, 11.9, 18.8]}

In [ ]:
df_2 = pd.DataFrame(raw_data, columns = ['player_id','career_ppg'])

In [ ]:
df3 = pd.merge(df_1, df_2, how = 'right', left_on = 'id', right_on = 'player_id')

In [ ]:
df3

In [ ]:
df4 = pd.merge(df_1, df_2, how = 'right', left_on = 'id', right_on = 'player_id').drop('id', axis = 1)

In [ ]:
df4

In [ ]:
df5 = df_1.merge(df_2, how = 'inner', left_on = 'id', right_on = 'player_id').drop('player_id', axis=1)

In [ ]:
df5

# Iterating Over a Dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
nba_stats = {'first_name': ['Lebron', 'Kyle', 'Lonzo', 'Brandon', 'Josh', 'Lance', 'Michael', 'Tyson', 'Ivica'], 
        'last_name': ['James', 'Kuzma', 'Ball', 'Ingram', 'Hart', 'Stephenson', 'Beasley', 'Chander', 'Zubac'], 
        'ppg': [28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7], 
        'apg': [12.3, 2.1, 8.9, 2.5, 3.6, 0.2, 1.8, 1.9, 1.5],
        'rpg': [7.1, 5.4, 5.5, 8.1, 3.2, 5.5, 7.7, 2.3, 8.1]}
laker_df = pd.DataFrame(nba_stats, columns = ['first_name', 'last_name', 'ppg', 'apg', 'rpg'])

In [3]:
for row in laker_df.iterrows():
    print(row)

(0, first_name    Lebron
last_name      James
ppg             28.2
apg             12.3
rpg              7.1
Name: 0, dtype: object)
(1, first_name     Kyle
last_name     Kuzma
ppg            21.1
apg             2.1
rpg             5.4
Name: 1, dtype: object)
(2, first_name    Lonzo
last_name      Ball
ppg            14.3
apg             8.9
rpg             5.5
Name: 2, dtype: object)
(3, first_name    Brandon
last_name      Ingram
ppg              17.2
apg               2.5
rpg               8.1
Name: 3, dtype: object)
(4, first_name    Josh
last_name     Hart
ppg           18.2
apg            3.6
rpg            3.2
Name: 4, dtype: object)
(5, first_name         Lance
last_name     Stephenson
ppg                 11.2
apg                  0.2
rpg                  5.5
Name: 5, dtype: object)
(6, first_name    Michael
last_name     Beasley
ppg              14.2
apg               1.8
rpg               7.7
Name: 6, dtype: object)
(7, first_name      Tyson
last_name     Chander
ppg               4.5
apg               1.9
rpg               2.3
Name: 7, dtype: object)
(8, first_name    Ivica
last_name     Zubac
ppg             6.7
apg             1.5
rpg             8.1
Name: 8, dtype: object)

In [4]:
for index, row in laker_df.iterrows():
    print(row['first_name'], row['last_name'], row['ppg'])

Lebron James 28.2
Kyle Kuzma 21.1
Lonzo Ball 14.3
Brandon Ingram 17.2
Josh Hart 18.2
Lance Stephenson 11.2
Michael Beasley 14.2
Tyson Chander 4.5
Ivica Zubac 6.7

In [5]:
for row in laker_df.itertuples():
    print(row.first_name, row.last_name, row.ppg)

Lebron James 28.2
Kyle Kuzma 21.1
Lonzo Ball 14.3
Brandon Ingram 17.2
Josh Hart 18.2
Lance Stephenson 11.2
Michael Beasley 14.2
Tyson Chander 4.5
Ivica Zubac 6.7

In [6]:
ppg_data = []

In [7]:
for row in laker_df.itertuples():
    ppg_data.append(row.ppg)

In [8]:
ppg_data

[28.2, 21.1, 14.3, 17.2, 18.2, 11.2, 14.2, 4.5, 6.7]

# Applying Functions to Dataframes

In [40]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [41]:
df.sample(5)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts
126,Chris Andersen,2365,2001-02,24.0,23.0,260.658,25.0,74.0,0.0,22.0,28.0,38.0,38.0,7.0,13.0,7.0,28.0,72.0
2204,Mirza Teletovic,203141,2014-15,40.0,29.0,892.335,122.0,319.0,62.0,33.0,46.0,27.0,167.0,46.0,53.0,14.0,16.0,339.0
1124,Luis Scola,2449,2011-12,66.0,32.0,2067.070,436.0,888.0,0.0,153.0,198.0,122.0,306.0,140.0,153.0,35.0,24.0,1025.0
1821,Larry Sanders,202336,2014-15,27.0,26.0,585.528,86.0,172.0,0.0,24.0,48.0,67.0,99.0,23.0,28.0,26.0,39.0,196.0
735,Deron Williams,101114,2009-10,76.0,26.0,2801.880,494.0,1053.0,96.0,335.0,418.0,50.0,253.0,798.0,252.0,96.0,16.0,1419.0

In [45]:
def add_year(current_age):
    new_age = current_age + 1
    return new_age

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2741 entries, 0 to 2740
Data columns (total 18 columns):
player_name    2741 non-null object
player_id      2741 non-null int64
season_id      2741 non-null object
gp             2741 non-null float64
age            2741 non-null float64
min            2741 non-null float64
fgm            2741 non-null float64
fga            2741 non-null float64
fg3m           2741 non-null float64
ftm            2741 non-null float64
fta            2741 non-null float64
oreb           2741 non-null float64
dreb           2741 non-null float64
ast            2741 non-null float64
tov            2741 non-null float64
stl            2741 non-null float64
blk            2741 non-null float64
pts            2741 non-null float64
dtypes: float64(15), int64(1), object(2)
memory usage: 385.5+ KB

In [46]:
df['age'].apply(add_year)

0       22.0
1       23.0
2       24.0
3       25.0
4       26.0
5       27.0
6       28.0
7       29.0
8       30.0
9       31.0
10      32.0
11      33.0
12      34.0
13      35.0
14      36.0
15      37.0
16      38.0
17      39.0
18      39.0
19      22.0
20      23.0
21      24.0
22      25.0
23      26.0
24      27.0
25      28.0
26      29.0
27      30.0
28      31.0
29      32.0
        ...
2711    23.0
2712    28.0
2713    25.0
2714    28.0
2715    25.0
2716    24.0
2717    24.0
2718    22.0
2719    24.0
2720    26.0
2721    25.0
2722    26.0
2723    25.0
2724    25.0
2725    25.0
2726    25.0
2727    22.0
2728    21.0
2729    24.0
2730    21.0
2731    23.0
2732    22.0
2733    26.0
2734    24.0
2735    23.0
2736    22.0
2737    22.0
2738    23.0
2739    23.0
2740    24.0
Name: age, Length: 2741, dtype: float64

In [47]:
player_stats = {'player_name': ['Lebron', 'Dirk', 'Wade', 'Curry', 'George'], 
        'season_id': ['2017-18', '2017-18', '2017-18', '2017-18', '2017-18'], 
        'total_points': [2251, 927, 765, 1346, 1734],
        'games_played': [82, 77, 81, 51, 79]}
df = pd.DataFrame(player_stats)

In [48]:
df.head()

  player_name season_id  total_points  games_played
0      Lebron   2017-18          2251            82
1        Dirk   2017-18           927            77
2        Wade   2017-18           765            81
3       Curry   2017-18          1346            51
4      George   2017-18          1734            79

In [49]:
def ppg_calculator(row):
    gp = row[3]
    pts = row[2]
    ppg = pts / gp
    return ppg

In [50]:
df.apply(ppg_calculator, axis = 1)

0    27.451220
1    12.038961
2     9.444444
3    26.392157
4    21.949367
dtype: float64

In [51]:
df['ppg'] = df.apply(ppg_calculator, axis = 1)

In [52]:
df.head()

  player_name season_id  total_points  games_played        ppg
0      Lebron   2017-18          2251            82  27.451220
1        Dirk   2017-18           927            77  12.038961
2        Wade   2017-18           765            81   9.444444
3       Curry   2017-18          1346            51  26.392157
4      George   2017-18          1734            79  21.949367

In [55]:
df = pd.read_csv('../nba-stats-csv/player_stats_total.csv')

In [67]:
def ft_calculator(row):
    ft_perc = (row['ftm'] / (row['fta'] + .00001))
    return round(ft_perc,2)

In [68]:
df['ft_perc'] = df.apply(ft_calculator, axis=1)

In [69]:
df.sample(5)

,player_name,player_id,season_id,gp,age,min,fgm,fga,fg3m,ftm,fta,oreb,dreb,ast,tov,stl,blk,pts,ft_perc
1574,Jordan Hill,201941,2013-14,72.0,26.0,1499.790,286.0,521.0,0.0,124.0,181.0,194.0,341.0,54.0,75.0,29.0,64.0,696.0,0.69
2618,Nikola Jokic,203999,2016-17,73.0,22.0,2037.880,494.0,854.0,45.0,188.0,228.0,212.0,506.0,359.0,171.0,61.0,55.0,1221.0,0.82
2626,Rakeem Christmas,1626176,2016-17,29.0,25.0,219.388,19.0,43.0,0.0,21.0,29.0,26.0,30.0,4.0,8.0,3.0,6.0,59.0,0.72
2561,Delon Wright,1626153,2015-16,27.0,24.0,229.242,36.0,80.0,5.0,26.0,35.0,8.0,29.0,31.0,16.0,8.0,3.0,103.0,0.74
2178,Maurice Harkless,203090,2013-14,80.0,21.0,1949.560,224.0,483.0,59.0,85.0,143.0,69.0,195.0,80.0,86.0,97.0,50.0,592.0,0.59

In [70]:
final = df.groupby('player_name').sum().apply(ft_calculator, axis=1)

In [71]:
final.sort_values(ascending=False)

player_name
Nicolas Laprovittola    1.00
Georges Niang           1.00
Michael Gbinije         1.00
Diamond Stone           1.00
Chinanu Onuaku          1.00
Chasson Randle          0.95
Jarell Eddie            0.94
Brian Roberts           0.91
Okaro White             0.91
Alex Abrines            0.90
Stephen Curry           0.90
Marcus Georges-Hunt     0.90
JJ Redick               0.89
Isaiah Thomas           0.88
Jamal Murray            0.88
Damian Lillard          0.88
Steve Novak             0.88
Jose Calderon           0.88
Kyle Korver             0.88
Dirk Nowitzki           0.88
Anthony Morrow          0.88
Kevin Durant            0.88
Jodie Meeks             0.88
Malcolm Brogdon         0.87
Chris Paul              0.87
Kyrie Irving            0.87
Khris Middleton         0.87
Georgios Papagiannis    0.86
Bojan Bogdanovic        0.86
Jarrett Jack            0.86
                        ...
Thomas Robinson         0.51
Demetrius Jackson       0.50
Joel Bolomboy           0.50
Kyle Wiltjer            0.50
Henry Ellenson          0.50
Chris McCullough        0.50
Isaiah Taylor           0.50
Andre Roberson          0.49
AJ Hammons              0.45
Aaron Harrison          0.43
DeAndre Jordan          0.43
Clint Capela            0.43
Marshall Plumlee        0.42
Arinze Onuaku           0.40
Quinn Cook              0.40
Andre Drummond          0.38
DeAndre' Bembry         0.37
Dragan Bender           0.36
Justin Harper           0.33
Damian Jones            0.30
Edy Tavares             0.27
Patricio Garino         0.00
Daniel Ochefu           0.00
Josh Huestis            0.00
Bruno Caboclo           0.00
Mike Tobey              0.00
Brice Johnson           0.00
Ben Bentil              0.00
Tim Quarterman          0.00
Danuel House            0.00
Length: 486, dtype: float64

# Arrays

In [72]:
import numpy as np

In [73]:
kawhi_steals = [4, 5, 2, 1, 3]

In [74]:
kawhi_steals

[4, 5, 2, 1, 3]

In [76]:
klaw = np.array(kawhi_steals)

In [77]:
klaw

array([4, 5, 2, 1, 3])

In [78]:
klaw.mean()

3.0

In [79]:
klaw_2 = klaw + 2

In [80]:
klaw_2

array([6, 7, 4, 3, 5])

In [81]:
klaw_2.mean()

5.0

In [84]:
player_stats = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])

In [85]:
player_stats.shape

(3, 4)

In [86]:
some_other_player_stats = np.array([[4, 3, 2, 4],
                   [56, 46, 27, 18],
                   [4, 4, 4, 5]])

In [87]:
some_other_player_stats.shape

(3, 4)

In [88]:
final = player_stats + some_other_player_stats

In [89]:
final

array([[ 5,  5,  5,  8],
       [61, 52, 34, 26],
       [13, 14, 15, 17]])